body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #080808;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

section h2 {
    font-size: 24px;
    color: #080808;
    background-size: cover;

}

article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #080808;
    color: #fff;
    text-align: center;
    padding: 10px;
}

